{% extends "dashboard/base.html" %}
{% block content %}
<h1>THMonitor about</h1>

<article class="media content-section">
    <div class="media-body">
        <p class="article-content">
            Temperature and humidity are the most monitored environmental factors based on the facilities We have visited. You can see it almost everywhere.
        </p>
        <p class="article-content">
            Have you ever experienced being exposed to a high temperature and humidity environment? We believe all have experienced it, but not just aware of the effects of temperature and humidity in our daily activities or some of our activities.
        </p>
        <p class="article-content">
            During summer where temperature and humidity are high, have you ever experienced in your skin that when you perspire, it stays longer making you uncomfortable? And during winter where the air is very dry that it makes our skin and throat also dry?
        </p>
        <p class="article-content"> 
            These feelings (discomfort and irritation) we encountered are the effects of temperature and humidity in our bodies. In our home, wooden types of furniture that gets very dry tends to crack or expand. Because of this, we should be familiar with the importance of temperature and humidity monitoring to prevent and control these things that happen in our daily processes.
        </p>
        <p class="article-content">
            Ideally, Relative Humidity (RH) should be within the range of 30% to 50% and the temperature is within 20 to 25 deg Celsius. Above this will cause fungus or molds to grow, and below this will cause dryness and discomfort.
        </p>

        <p class="article-content">
            Some common examples of why we need to monitor and control temperature and humidity are:
            <ul>
                <li>To prevent the formation of molds and fungus that can cause diseases,</li>
                <li>Maintaining a certain product fresh in a storage room where fruits and vegetables are stored, </li>
                <li>To monitor the environment for fermentation like in beer or winemaking or for incubation of eggs, </li>
                <li>To ensure the maintenance of good quality in some special personal collections like  paintings,  guitar or clothing,</li>
                <li>To give a healthy environment, for example, maintaining a good air quality to avoid dryness on skin and eyes that causes discomfort and breathing-related illness like asthma,</li>
                <li>Keeping medical substances at no risk of losing their properties.</li>
            </ul>
        </p>

        <p class="article-content">
            We hope we convinced you about how important keeping track of temperature and humidity is and why we did this software. We hope you will find it useful.
        </p>

        <p class="article-content">
            Thank you for trusting us!
        </p>
    </div>
</article>
{% endblock content %}
