{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>THMonitor Dashboard - {{ title }}</title>
  {% else %}
  <title>THMonitor Dashboard</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'dashboard-home' %}">THMonitor Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'dashboard-home' %}">Home</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'dashboard-history' %}">History</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'dashboard-about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'dashboard-contact' %}">Contact us</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md">
        <div class="content-section">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </main>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

  {% if user.is_authenticated %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script>
    $.ajax({
      method: "GET",
      url: '/api/chart',
      success: function (data) {
        data.forEach(function (room, index) {
          id = 'chart-' + (index + 1);

          if (room["labels"].length != 0) {
            $("#content-" + id).removeClass("hidden");
            $("#alert-" + id).addClass("hidden");

            drawLineGraph(room, id, 'Last 6 hours');
          } else {
            $("#content-" + id).addClass("hidden");
            $("#alert-" + id).removeClass("hidden");

            no_data('alert-' + id, "No data in the last 6 hours.");
          }
        });
      },
      error: function (error_data) {
        console.log(error_data);
      }
    });

    $(document).ready(function () {
      $("#history-submit").click(function (e) {
        e.preventDefault();

        start_date = $("#start_date").val();
        end_date = $("#end_date").val();

        if (start_date != "" && end_date != "") {
          $.ajax({
            method: "GET",
            url: "/api/chart/date/?start_date=" + start_date + "&end_date=" + end_date,
            success: function (data) {
              console.log(data);
              $("#history-rooms-content").removeClass("hidden");

              data.forEach(function (room, index) {
                id = 'chart-' + (index + 1);

                if (room["labels"].length != 0) {
                  $("#history-content-" + id).removeClass("hidden");
                  $("#history-alert-" + id).addClass("hidden");

                  drawLineGraph(room, 'history-' + id, 'Custom interval: ' + start_date + " - " + end_date);
                } else {
                  $("#history-content-" + id).addClass("hidden");
                  $("#history-alert-" + id).removeClass("hidden");

                  no_data('history-alert-' + id, "No data in this interval.");
                }
              });
            },
            error: function (error_data) {
              console.log(error_data);
              $("#rooms-content").addClass("hidden");
            }
          })
        }
      });
    });

    function no_data(id, message) {
      console.log(id);
      $("#" + id).text(message);
    }

    function drawLineGraph(data, id, title) {
      Chart.defaults.global.elements.line.fill = false;

      var labels = data.labels;
      var tempData = data.tempData;
      var humidityData = data.humidityData;
      var ctx = document.getElementById(id).getContext('2d');

      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: "Temperature (°C)",
              borderColor: '#707788',
              data: tempData,
            },
            {
              label: "Humidity",
              borderColor: '#bea5a9',
              data: humidityData,
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: title,
          },
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    }
  </script>
  {% endif %}
</body>

</html>
