{% extends "dashboard/base.html" %}
{% block content %}
<h1>THMonitor history</h1>

{% if user.is_authenticated %}

<div class="form-group">
    <label for="start_date">Start date:</label>
    <input type="date" class="form-control" id="start_date" required>
</div>
<div class="form-group">
    <label for="end_date">End date:</label>
    <input type="date" class="form-control" id="end_date" required>
</div>
<div class="form-group">
    <button class="btn btn-outline-info" id="history-submit" type="submit">Get data</button>
</div>

<div class="hidden" id="history-rooms-content">
    {% for room in rooms %}
    <article class="media content-section">
        <div class="media-body">
            <h2>
                <div class="article-title">{{ room.sensor_location }}</div>
            </h2>
            <div class="hidden" id="history-content-chart-{{ forloop.counter }}">
                <p class="article-content">
                    <canvas id="history-chart-{{ forloop.counter }}"></canvas>
                </p>
            </div>
            <div id="history-alert-chart-{{ forloop.counter }}" class="alert alert-info hidden"></div>
        </div>
    </article>
    {% endfor %}
</div>
{% else %}

<h2>Welcome to THMonitor Dashboard.</h2>
<img src="media/windy-weather.png">
<p>Before jumping on configs & real data you need to <a href="{% url 'login' %}">Login</a>/<a
        href="{% url 'register' %}">Register</a>.</p>
{% endif %}

{% endblock content %}
