{% extends "dashboard/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for room in rooms %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <div class="article-title">{{ room.sensor_location }}</div>
    </h2>
    <div class="hidden" id="content-chart-{{ forloop.counter }}">
      <p class="article-content">
        <canvas id="chart-{{ forloop.counter }}"></canvas>
      </p>
    </div>
    <div id="alert-chart-{{ forloop.counter }}" class="alert alert-info hidden"></div>
  </div>
</article>
{% endfor %}
{% else %}

<h2>Welcome to THMonitor Dashboard.</h2>
<img src="media/windy-weather.png">
<p>Before jumping on configs & real data you need to <a href="{% url 'login' %}">Login</a>/<a
    href="{% url 'register' %}">Register</a>.</p>
{% endif %}



{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
  href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

  {% endif %}
  {% endblock content %}
